__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.venv/
venv/

*.log
.DS_Store
Thumbs.db

results/**/*.pt
results/**/*.pth
results/**/*.pkl
results/**/*_full.txt
results/**/*.out
results/**/*.err
results/**/*_full.txt